<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android_club_info">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ISTE_chapter"></activity>
        <activity android:name=".IEEE_chapter" />
        <activity android:name=".CSI_chapter" />
        <activity android:name=".ACM_chapter" />
        <activity android:name=".Clubs_info">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Dsc_splash_screen" />
        <activity android:name=".Cloud_splash_screen" />
        <activity android:name=".Null_splash_screen" />
        <activity android:name=".Malai_splash_screen" />
        <activity android:name=".iot_splash_screen" />
        <activity android:name=".Data_splash_screen" />
        <activity android:name=".Web_splash_screen" />
        <activity android:name=".Android_splash_screen" />
        <activity android:name=".Data_club_info" />
        <activity android:name=".Malai_club_info" />
        <activity android:name=".Null_club_info" />
        <activity android:name=".Cloud_club_info" />
        <activity android:name=".DSC_club_info" />
        <activity android:name=".IoT_club_info" />
        <activity android:name=".Web_club_info" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>